:host {
    background-color: #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    text-transform: uppercase;
}

mat-button-toggle {
    text-transform: uppercase !important;
}

.yellow-button {
    color: yellow;
}

.actions-container {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    flex-grow: 1;
}
