@use '@angular/material' as mat;

:host {
    background-color: #608080;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 42px;
}

button {
    text-transform: uppercase;
}

mat-button-toggle {
    text-transform: uppercase !important;
}

// .yellow-button {
//     color: yellow;
// }

.actions-container {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    flex-grow: 1;
}

.right-actions button {
    margin: 0px 4px;
}

.center-actions {
    display: flex;
    align-items: center;
}

:host {
    @include mat.button-toggle-overrides((height: 30px));
}

.yellow-button {
    @include mat.icon-button-overrides((icon-color: yellow,
        ));
}

.black-button {
    @include mat.icon-button-overrides((icon-color: black,
        ));
}

.red-button {
    @include mat.icon-button-overrides((icon-color: red,
        ));
}