<div class="actions-container">
    <div class="left-actions">
        <button matTooltip="Add yellow disc" mat-icon-button class="yellow-button"
            (click)="addYellow()"><mat-icon>add_circle</mat-icon></button>
        <button matTooltip="Add black disc" mat-icon-button class="black-button"
            (click)="addBlack()"><mat-icon>add_circle</mat-icon></button>
    </div>
    <div *ngIf="wService.selectedDisc">
        <mat-button-toggle-group multiple class="block-buttons">
            <mat-button-toggle matTooltip="Toggle blocking left player" (click)="toggleBlockLeft()">
                <mat-icon svgIcon="block_left">
                </mat-icon>
            </mat-button-toggle>
            <mat-button-toggle matTooltip="Toggle blocking right player" (click)="toggleBlockRight()">
                <mat-icon svgIcon="block_right">
                </mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>

        <button color="warn" mat-icon-button matTooltip="Remove selected disc"
            (click)="removeDisc()"><mat-icon>remove_circle</mat-icon></button>
    </div>
    <div class="right-actions">
        <button matTooltip="Toggle zoom" mat-icon-button (click)="toggleZoom()"><mat-icon>{{wService.zoomState ===
            'FOOT' ? 'zoom_out' :
            'zoom_in'}}</mat-icon></button>
        <button color="warn" mat-icon-button matTooltip="Clear board"
            (click)="removeAll()"><mat-icon>delete_sweep</mat-icon></button>
    </div>
</div>